<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/style.css" />
    <link rel="stylesheet" type="text/css" href="../assets/normalize.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet">
    <script src="https://use.fontawesome.com/76669b3f7c.js"></script>
    <title><%= title %></title>
</head>

<body>
    <div class="container">
        <div class="chat">
            <div class='header'>
                <h2>Chat</h2>
            </div>
            <div class="chat-area">
               
            </div>
            <div class="form">
                <input type="text" placeholder="usuário" id="usuario" class="form">
                <input type="text" id="message" placeholder="o que você está pensando?" class="form">
                <button class="button">Enviar</button>
            </div>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        let socket = io();
        document.querySelector('.button').addEventListener('click', (e) => {
            console.log('entrou')
            let usuario = document.querySelector('#usuario');
            let message = document.querySelector('#message');
            socket.emit('sendMessage', {
                usuario: usuario.value,
                message: message.value
            });
        });
        socket.on('sendMessage', (data) => {
            let message = document.createElement('div');
            message.className = "message";
            message.innerHTML = `
            <div class="message"><span class="author">${data.usuario}:</span> ${data.message} </div>
            `
            console.log(message)
            document.querySelector('.chat-area').appendChild(message)
        })
    </script>
</body>

</html>